.MainCard{
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}
.currentProduct{
    width: 350px;
}
.buttonClose{
    font-size: 35px;
    background: none;
    border: none;
    cursor: pointer;
}
.AddtoCart{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    width: 160px;
    font-size: 16px;
    padding: 5px;
    background-color: white;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    color: brown;
}